<main>
  <h1>Products</h1>
  <i appViews viewTitle = 'list' class="material-icons" >
    view_list
  </i>
  <i appViews viewTitle = 'modal' class="material-icons">
    view_module
  </i>

  <div class="container" *ngFor="let product of products">

    <div><img [src]="product.image" alt="Cosas"></div>

    <div>
      <h3>
        {{ product.name }}
      </h3>
      <p> Fecha: {{product.createdAt | date:'shortDate'}}</p>
      <p> Descripción: {{ product.description }}</p>
      <p> Precio: {{ product.price | euroPipe}}</p>
      <button>
        add to cart
      </button>

    </div>

  </div>

</main>