<main>
  <label>
    <input id="taskInput" type="text" placeholder="¿Qué necesitas hacer?">
  </label>
  <ul id="taskList">
    <li *ngFor="let task of tasks" [class.selected]="task === selectedTask">
      <div>
        <div *ngIf="task.done; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><input type="checkbox" checked></ng-template>
        <ng-template #elseBlock><input type="checkbox"></ng-template>
        <span>{{task.description}}</span>
      </div>
      <i class="material-icons btn-delete" (click)= "openModal(task)" >delete_outline</i>
    </li>
  </ul>
  <div class="info">
    <p id="tasksLeft">Quedan 6 tareas</p>
    <div>
      <button id="allButton" class="button" disabled>Todas</button>
      <button id="pendingButton" class="button">Pendientes</button>
      <button id="completedButton" class="button">Completadas</button>
    </div>
  </div>
</main>
<footer>
  <p>Autor: Sergio Martín Ortega</p>
  <p>GitHub: <a href="https://github.com/SergioMartinOrtega">https://github.com/SergioMartinOrtega</a></p>
</footer>
<div *ngIf="selectedTask" class="modal" id="modal">
  <div class="box">
    <h2>¿Estás seguro de que deseas eliminar esta tarea?</h2>
    <p>{{selectedTask.description}}</p>
    <div>
      <button (click)="deleteTask(selectedTask)" class="button large">Si</button>
      <button (click)="closeModal()" class="button large">No</button>
    </div>
  </div>
</div>

